# global setting
[alias]
	graph = log --all --graph --decorate --oneline
	assume-unchanged = update-index --assume-unchanged
	no-assume-unchanged = update-index --no-assume-unchanged
[core]
	editor = code -w
	excludesfile = ~/.gitignore
[commit]
	template = ~/.gitmessage
[user]
	email = saadkhankxt@hotmail.com
	name = Saad Khan
[pull]
	rebase = false
[init]
	defaultBranch = master
[credential]
	helper =
	helper = /usr/bin/git-credential-manager-core
[credential "https://dev.azure.com"]
	useHttpPath = true
