# global setting
[alias]
graph = log --all --graph --decorate --oneline
assume-unchanged = update-index --assume-unchanged
no-assume-unchanged = update-index --no-assume-unchanged
[branch]
autosetupmerge = always
[core]
editor = code -w
excludesfile = ~/.gitignore
[commit]
template = ~/.gitmessage
[user]
email = superkxt@outlook.com
name = SuperKXT
[pull]
rebase = false
[init]
defaultBranch = main
[url "git@github.com:"]
insteadOf = https://github.com/
[safe]
	directory = /home/superkxt/test/actions/actions-runner/_work/SooperwizerFrontend/SooperwizerFrontend
	directory = /home/superkxt/test/actions/actions-runner/_work/SooperwizerFrontend/SooperwizerFrontend
	directory = /home/superkxt/test/actions/actions-runner/_work/SooperwizerFrontend/SooperwizerFrontend
	directory = /home/superkxt/test/actions/actions-runner/_work/SooperwizerFrontend/SooperwizerFrontend
	directory = /home/superkxt/test/actions/actions-runner/_work/SooperwizerFrontend/SooperwizerFrontend
	directory = /home/superkxt/test/actions/actions-runner/_work/SooperwizerFrontend/SooperwizerFrontend
	directory = /home/superkxt/test/actions/actions-runner/_work/SooperwizerFrontend/SooperwizerFrontend
	directory = /home/superkxt/test/actions/actions-runner/_work/SooperwizerFrontend/SooperwizerFrontend
	directory = /home/superkxt/test/actions/actions-runner/_work/SooperwizerFrontend/SooperwizerFrontend
	directory = /home/superkxt/test/actions/actions-runner/_work/SooperwizerFrontend/SooperwizerFrontend
	directory = /home/superkxt/test/actions/actions-runner/_work/SooperwizerFrontend/SooperwizerFrontend
	directory = /home/superkxt/test/actions/actions-runner/_work/SooperwizerFrontend/SooperwizerFrontend
